.hero{
    display: block;
    width: 100%;
    background: url('../../../../../public/assets/images/hero-section.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    container-type:inline-size;
}
@container (min-width: 768px){
    .hero{
     background: url('../../../../../public/assets/images/hero.webp');
    background-position: center;
    background-repeat: no-repeat;
    }
}
.hero_content{
    display: block;
    text-align: center;
    margin-top: 11rem;
}
.hero_content .hero_title{
    display: block;
    font-family: var(--font-danaBlack);
    font-size: 2.7rem;
    word-spacing: 10px;
}
.hero_content .hero_paraph{
    display: block;
    font-family: var(--font-danaBold);
    font-size: 1.5rem;
    margin-top: -2rem;
}
.hero_content .hero_search{
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 600px;
    height: 3rem;
    background-color: var(--white);
    border-radius: 1rem;
    padding: 0.5rem;
}
.hero_search input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: unset;
    font-size: 0.9rem;
    font-weight: 700;
}
.hero_search button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
border-radius: 50%;
outline: none;
border: none;
color: var(--white);
background-color: var(--success-color);
cursor: pointer;
transition: all 0.4s linear;
}
.hero_search button:hover{
    color: var(--primary-color);
}